label.MuiFormLabel-root {
    color: #fff;
}

label.MuiFormLabel-root.Mui-focused {
    color: #fff;
}

input.MuiInputBase-input {
    color: #fff;
}

div.MuiInput-underline:before{
    border-bottom: 1px solid #fff;
}

div.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #fff;
}

/*div.MuiInput-underline:hover{*/
/*    border-bottom: 2px solid #fff;*/
/*}*/

div.MuiInput-underline:before{
    border-bottom: 1px solid #fff;
}

div.MuiInput-underline:after {
    border-bottom: 1px solid #fff;
}